<div class="c-events-header jsSmartHead" data-SH-offset="68">
  <div class="wrap c-canvas__fixed-item">
    <nav class="c-events-nav">
      <a href="#7th" class="c-events-nav__weekend">
        <span class="c-events-nav__day">sat</span>
        <span class="c-events-nav__date">7</span>
      </a>
      <a href="#8th" class="c-events-nav__weekend">
        <span class="c-events-nav__day">sun</span>
        <span class="c-events-nav__date">8</span>
      </a>
      <a href="#9th">
        <span class="c-events-nav__day">mon</span>
        <span class="c-events-nav__date">9</span>
      </a>
      <a href="#10th">
        <span class="c-events-nav__day">tue</span>
        <span class="c-events-nav__date">10</span>
      </a>
      <a href="#11th">
        <span class="c-events-nav__day">wed</span>
        <span class="c-events-nav__date">11</span>
      </a>
      <a href="#12th">
        <span class="c-events-nav__day">thu</span>
        <span class="c-events-nav__date">12</span>
      </a>
      <a href="#13th">
        <span class="c-events-nav__day">fri</span>
        <span class="c-events-nav__date">13</span>
      </a>
      <a href="#14th" class="c-events-nav__weekend">
        <span class="c-events-nav__day">sat</span>
        <span class="c-events-nav__date">14</span>
      </a>
      <a href="#15th" class="c-events-nav__weekend">
        <span class="c-events-nav__day">sun</span>
        <span class="c-events-nav__date">15</span>
      </a>
      <a href="#16th">
        <span class="c-events-nav__day">mon</span>
        <span class="c-events-nav__date">16</span>
      </a>
      <a href="#17th">
        <span class="c-events-nav__day">tue</span>
        <span class="c-events-nav__date">17</span>
      </a>
      <a href="#18th">
        <span class="c-events-nav__day">wed</span>
        <span class="c-events-nav__date">18</span>
      </a>
      <a href="#19th">
        <span class="c-events-nav__day">thu</span>
        <span class="c-events-nav__date">19</span>
      </a>
      <a href="#20th">
        <span class="c-events-nav__day">fri</span>
        <span class="c-events-nav__date">20</span>
      </a>
      <a href="#21th" class="c-events-nav__weekend">
        <span class="c-events-nav__day">sat</span>
        <span class="c-events-nav__date">21</span>
      </a>
    </nav>
  </div>
</div>

{{#each dates}}

{{#compare this.type 'event'}}
<div class="wrap">
  <div id="{{date}}" class="c-dates l-dates">
    <div class="c-date l-date">
      <div class="c-date__cal">
        <h2 class="day">{{date}}</h2>
        <h4 class="weekday">{{day}}</h4>  
      </div>
    </div>

    <div class="c-events l-events">
      {{#each events}}
      <div class="c-event l-event">
        <div class="c-event__image" style="background-image:url('{{image}}');"></div>
        <div class="c-event__content">
          <div class="c-event__desc">
            <h2 class="c-event__title">{{title}}</h2>
            <p>{{desc}}</p>
            <div class="c-event__time">
              {{startTime}} - {{endTime}}
              <a class="c-event__location" href="http://maps.google.com/?q={{location}}"> <img class="i-location jsSvgInject" src="images/location.svg" /> {{location}}</a>
            </div>
          </div>
          <div class="c-event__aside">
            <a href="#" class="o-btn">Get Ticket</a>
          </div>
        </div>
      </div>  
      {{/each}}
    </div>
  </div>
</div>
{{/compare}}

{{#compare this.type "job"}}
<div class="c-interrupt">  
  <div class="wrap">
    <h1 class="o-italic"><strong>{{title}}</strong></h1>
    <h4>{{desc}}</h4>
    <div class="c-jobs">
      {{#listItems 0 3 ../../jobs}}
      <div class="c-job">
        <img src="http://placehold.it/160x90" alt="">
        <h4><strong>{{title}} at {{employer}}</strong></h4>
        <p>{{jd}}</p>
      </div>
      {{/listItems}}
    </div>      

    <button class="o-btn">See other jobs</button>
  </div>
</div> 
{{/compare}}

{{#compare this.type "tickets"}}
<div class="c-interrupt c-tickets">  
  <div class="wrap">
    <h1 class="o-italic">{{{title}}}</h1>
    <h4>{{{desc}}}</h4>
    <button class="o-btn--highlight">{{button}}</button>
  </div>
</div> 
{{/compare}}

{{/each}}
