{{#each dates}}

{{#compare this.type 'event'}}
<div class="wrap">
  <div id="{{date}}" class="c-dates l-dates">
    <div class="c-date l-date jsScrollSpyContainer">
      <div class="c-date__cal jsScrollSpy" data-scrollSpyHighlight="{{date}}">
        {{#if day}}<h4 class="weekday">Nov</h4> {{/if}}
        <h2 class="day">{{date}}</h2>
        {{#if text}}<h4 class="allweek">All<br>Week</h4> {{/if}}
      </div>
    </div>

    <div class="c-events l-events">
      {{#each events}}
      <div class="c-event l-event">
        <a href="{{#if event-link}}{{event-link}}{{else}}https://www.eventnook.com/event/devfestasia2015/home{{/if}}" target="_blank" class="c-event__image" style="background-image:url('{{image}}');">
          {{#if logo}} 
          <div class="c-event__logo" style="background-image:url('{{logo}}');"></div>
          {{/if}}
        </a>
        <div class="c-event__content">
          <div class="c-event__desc">
            <h3 class="c-event__title">{{title}}</h3>
            <p>{{{desc}}}</p>
            <div class="c-event__time">
              <div class="css-clock" data-time="{{startTime}}-{{endTime}}"></div>
              {{startTime}}{{startTimeSuffix}} - {{endTime}}{{endTimeSuffix}}
            </div>
            <div class="c-event__location">
              <img class="i-location jsSvgInject" src="images/location1.svg" />
              <a href="http://maps.google.com/?q={{location}}"> 
                <div> {{{location}}}</div>
                <div>{{{location-2}}}</div>
              </a>
            </div>
          </div>
          <div class="c-event__aside">
            {{#if ticket}}
            {{#if event-link}}<a href="{{event-link}}" target="_blank" class="o-btn">{{ticket}}</a> 
            {{else}}<a href="https://www.eventnook.com/event/devfestasia2015/home" target="_blank"  class="o-btn">{{ticket}}</a>{{/if}}
            {{else}}
            <div class="ticket-info">
              {{ticketinfo}}
            </div>
            {{/if}}
          </div>
        </div>
      </div>  
      {{/each}}
    </div>
  </div>
</div>
{{/compare}}

{{#compare this.type "job"}}
<div class="c-interrupt">  
  <div class="wrap">
    <h1 class="o-italic"><strong>{{title}}</strong></h1>
    <h4>{{desc}}</h4>
    <div class="c-interrupt__jobs">
      {{#each ../../jobs}}
      {{#compare this.type "featured"}}
      {{#each jobs}}
      <div class="c-interrupt__job">
        <img src="http://placehold.it/160x90" alt="">
        <h4><strong>{{title}} at {{employer}}</strong></h4>
        <p>{{jd}}</p>
      </div>
      {{/each}}
      {{/compare}}
      {{/each}}
    </div>      

    <button class="o-btn">See other jobs</button>
  </div>
</div> 
{{/compare}}

{{#compare this.type "tickets"}}
<div class="c-interrupt c-tickets">  
  <div class="wrap">
    <h1 class="o-italic">{{{title}}}</h1>
    <h4>{{{desc}}}</h4>
    <button class="o-btn">{{button}}</button>
  </div>
</div> 
{{/compare}}

{{#compare this.type "sponsors"}}
<div class="c-interrupt-2 c-sponsors l-sponsors">  
  <div class="wrap">
    <h1 class="o-italic">{{title}}</h1>
    <img src="images/microsoft.png" alt="Microsoft">
    <p> Interested to be part of Devfest? 
      <br>
      <a href="mailto:sponsors@devfest.asia?subject=Devfest Sponsorship" class="o-btn">Be a sponsor!</a>
    </p>
  </div>
</div> 
{{/compare}}

{{#compare this.type "add-event" }}
<div class="wrap">
  <div class="c-dates c-dates--new l-dates">
    <div class="c-date l-date jsScrollSpyContainer">
      <div class="c-date__cal jsScrollSpy" data-scrollSpyHighlight="{{date}}">
        <h2 class="day">?</h2>
      </div>
    </div>

    <div class="c-events l-events">

      <a href="https://jsconfasia.wufoo.com/forms/devfestasia-2015-list-my-event/" class="c-event--new l-event">
        <div class="c-event-new-item">
          <span>+</span>
          <span>Add your event</span>
        </div>
      </a>  
    </div>
  </div>
</div>
{{/compare}}

{{/each}}
