{{> _head }}
<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu active="sponsors"}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">
    {{> _header active="sponsors" }}
    <div class="l-content">
      <section class="c-quote">
        <div class="wrap">
          <div class="c-quote__message">
            <div class="p">
              <p>With more than a thousand web developers attending more than 15 events over ten days this year DevFest.Asia will be the center of the regional developer community.
              </p>
              <p>It’s going to be an unforgettable experience for attendees as well as a stepping stone into Southeast Asia’s diverse talent pool for entrepreneurs and enterprise. We need amazing companies to be part of it!</p>
            </div>
          </div>
          <div class="c-quote__author">
            <div class="c-quote__image" style="background-image: url('images/thomas.jpg')"> </div>
            <div class="c-quote__person">
              <h4>Thomas Gorissen</h4>
              <span>Devfest.Asia organizer</span>
            </div>
          </div>
        </div>
      </section>

      <section id="sponsors">
        <div class="wrap">
          <div class="c-community-intro">
            <h1 class="o-italic">Here are our awesome sponsors!</h1>
          </div>
        </div>

        <div class="c-sponsors-grid">
          {{#sponsors}}
          {{#each main}}
          <div class="c-sponsors-grid__item">
            <div style="background-image:url('{{background}}');" >
              <img src="{{logo}}" alt="{{name}}">
              <h2 class="c-event__title">{{name}}</h2>
            </div>
          </div>
          {{/each}}
          {{#each supporters}}
          <div class="c-sponsors-grid__item">
            <a class="c-sponsor__item" style="background-image:url('{{background}}');" href="{{url}}" target="_blank" >
              <img src="{{logo}}" alt="{{name}}">
            </a>
          </div>
          {{/each}}
          {{/sponsors}}
        </div>
      </section>

      <section>
        <div class="wrap">
          <div class="c-section-intro">
            <h1 class="o-italic">Can you sponsor Devfest.Asia?</h1>
            <p>We're making Devfest.Asia much better this year! We're expecting more than 1500 developers from all across SEA (we had 1200 last year) to attend the free and paid meetups, conferences, workshops and parties. </p>
            <p>
              Your sponsorship monies used by our community to create better and more events, workshops or parties!
            </p>
            <p>
              Besides, you can also get access to talent, share job opportunities and gain exposure for your company and your product.
            </p>
            <p>
              If you're interested in sponsoring Devfest.Asia, no matter how big or small your amount is, please click on the button and email us!
            </p>
            <div>
              <a href="mailto:sponsors@devfest.asia?subject=Devfest Sponsorship" class="o-btn">Sponsor devfest.asia</a>
              <p>
                <small>
                  <a href="https://docs.google.com/a/jsconf.asia/uc?id=0BzQ1Dd6_7STXWkRqRXUtWHhKZVk&export=download">See the sponsorship menu</a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{> _footer }}
  </div>
</div>
{{> _foot }}
