{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu active="work"}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">
    {{> _header active="work" }}

    <div class="l-content">
     <section>
      <div class="wrap">
        <div class="c-section-intro">
          <h1 class="o-italic">Dev Careers Meetup</h1>
          <p>We're holding a meetup on Sunday, Nov 15 at 3pm to help you learn more about developer opportunities and visa process in Singapore. You can also participate in 3min speed interviews with some of the coolest companies in town.</p>

          <p>This meetup is enabled by</p>

          <div class="enablers">
            <a href="https://generalassemb.ly"><img src="images/sponsors/ga.png" alt=""></a>
            <a href="https://hired.com"><img src="images/sponsors/hired.png" alt=""></a>
          </div>

          <div>
            <a class="o-btn" href="/index.html#Sun15">Check out the Meetup!</a>
          </div>

        </div>
      </div>
    </section>

    <section>
      <div class="wrap">
        <div class="section-intro">
          <h1 class="o-italic">These companies are hiring!</h1>
        </div>
      </div>
    </section>
    {{#each jobs}}
    {{#compare this.type 'company'}}
    <div class="wrap">
      <div class="c-company-and-jobs l-company-and-jobs">
        <div class="c-company l-company">
          <div>
            <img src="{{image}}" alt="{{employer}}">
          </div>
        </div>

        <div class="c-jobs l-jobs">
          {{#each jobs}}
          <a href="{{url}}" class="c-job l-job" target="_blank">
            <div class="c-job__content">
              <h4>{{job-title}}</h4>
              <p>{{job-desc}}</p>
            </div>
          </a>  
          {{/each}}
        </div>
      </div>
    </div>
    {{/compare}}
    {{/each}}

     {{!--  <div class="wrap">
        <div class="c-company-and-jobs l-company-and-jobs">
          <div class="c-jobs--new">
            <a href="#" class="c-new--large">
              <div class="c-new__item">
                <span>+</span>
                <span>List your job offer</span>
              </div>
            </a>
          </div>
        </div>
      </div> --}}

    </div>

     <section class="section--alt">
      <div class="wrap">
        <div class="c-section-intro">
          <h1 class="o-italic">Singapore's community</h1>
          <p>Singapore is awesome to work in, and <br>we have a vibrant community to back it up! </p>
          <div>
            <a class="o-btn" href="/community.html">Check out the community!</a>
          </div>
        </div>
      </div>
    </section>
    
    {{> _footer }}
  </div>
</div>



{{> _foot }}

